@import "/src/app.scss";

.footer {
  margin: 100px 100px 20px 100px;

  @media only screen and (max-width: $bp-md) {
    margin: 100px 50px 20px 50px;
  }
  @media only screen and (max-width: $bp-xsm) {
    margin: 100px 30px 20px 30px;
  }

  .top {
    display: flex;
    gap: 30px;

    @media only screen and (max-width: $bp-sm) {
      flex-wrap: wrap;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;

      h1 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }
      span {
        color: gray;
      }
      .item-sm {
        flex: 0.5;
      }

      .item-lg {
        flex: 1;
      }
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    @media only screen and (max-width: $bp-md) {
      justify-content: center;
    }

    .left {
      display: flex;
      align-items: center;

      .logo {
        width: 15rem;
      }
      .copy-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        .logo-text {
          color: #2879fe;
          font-weight: bold;
          font-size: 24px;
        }

        .copyright {
          display: block;
          font-size: 12px;
          color: gray;
        }
      }
    }
    .right {
      @media only screen and (max-width: $bp-sm) {
        margin-top: 2rem;
      }
      img {
        height: 50px;

        @media only screen and (max-width: $bp-sm) {
          height: 30px;
        }
      }
    }
  }
}
