@import "/src/app.scss";

.products {
  padding: 30px 50px;
  display: flex;

  @media only screen and (max-width: $bp-sm) {
    padding: 30px;
  }

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem {
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 1.8rem;
      }

      .inputItem {
        margin-bottom: 10px;

        label {
          margin-left: 10px;
          font-size: 1.2rem;
        }
      }
    }
  }
  .right {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;

      @media only screen and (max-width: $bp-sm) {
        height: 150px;
        margin-block: 25px;
      }
    }

    .filters {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;

      .item-category {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 50%;
        font-size: 1.3rem;
      }
    }
  }
}
