body {
  margin: 0;
}

.app {
  font-family: "Wix Madefor Display", sans-serif;
  .link {
    color: inherit;
    text-decoration: none;
  }
}

/* MEDIA QUERY BP  */
$bp-xlg: 112.5em; //1800px
// $bp-lg: 68.75em; //1100px
$bp-lg: 75.625em; //1210px
$bp-md: 61.875em; //990px
$bp-sm: 37.5em; //600px
$bp-xsm: 31.875em; //510px
$bp-xxsm: 22.8125em; //365px

html {
  font-size: 75.5%;

  @media only screen and (min-width: $bp-xlg) {
    font-size: 85%;
  }
  @media only screen and (max-width: $bp-md) {
    font-size: 74.75%;
  }

  @media only screen and (max-width: $bp-sm) {
    font-size: 62%;
  }
  @media only screen and (max-width: $bp-xsm) {
    font-size: 58%;
  }
  @media only screen and (max-width: $bp-xxsm) {
    font-size: 53%;
  }
}
